body{
  margin: 0;
  padding: 0;
  background-color: #ccc;
  font-family: "Roboto";
  box-sizing: border-box;
}

.element{
  width: 200px;
  height: 200px;
  background-color: crimson;
  margin: 60px;
  border-radius: 50%;

  animation-name: change-color;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 4;
}
@keyframes change-color {
  from{
    background-color: #000;
  }

  to{
    background-color: #638355;
  }
}


.element-2{
  width: 200px;
  height: 200px;
  background-color: crimson;
  margin: 60px;
  border-radius: 50%;

  animation-name: grow;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 4;
}
@keyframes grow {
  0%{
    transform: scale(0,1);
  }
  30%{
    transform: scale(1.3,0);
  }
  60%{
    transform: scale(0,1.6);
  }
  100%{
    transform: scale(2.3,0);
  }
}


.element-3{
  width: 200px;
  height: 200px;
  background-color: #638355;
  margin: 60px;
  border-radius: 50%;

  /* animation-name: move;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: alternate;
  animation-delay: 3s;
  animation-fill-mode: both; */
  animation: move 4s ease-in-out infinite alternate 3s both;
}
.element-3:hover{
  animation-play-state: paused;
}
@keyframes move {
  0%{
    transform: translate(0) scale(.5);
    background-color: crimson;
  }
  25%{
    transform: translate(100%);
    background-color: salmon;
  }
  50%{
    transform: translate(100%,100%);
    background-color: slateblue;
  }
  75%{
    transform: translate(0,100%);
    background-color: teal;
  }
  100%{
    transform: translate(100%,100%);
  }
}



