body{
  margin: 0;
  font-family: "Roboto";
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 100vh;
}

div, body, header, nav, ul, footer{
  box-sizing: border-box;
}

.div-wrapper, header, footer{
  width: 100%;
}

.header-navbar{
  background-color: rgb(186 230 253);
}

.header-navbar ul{
  display: flex;
  padding: 0;
  margin-top: 0;
}

.header-navbar li{
  list-style: none;
  margin: 4px;
}

.header-navbar a{
  color: whitesmoke;
  padding: 6px;
  display: inline-block;
}

nav a{
  text-decoration: none;
}

.div-wrapper{
  display: flex;
  flex-grow: 1;
}

aside, div{
  padding: 10px 20px;
  border: 1px solid #f00;
}

.div-wrapper aside{
  flex-grow: 1;
}

.left-aside{
  min-width: 12rem;
  text-align: center;
}

.left-aside ul{
  padding: 0;
}

.left-aside li{
  list-style: none;
}

.left-aside a{
  color: rgb(186 230 253);
  display: inline-block;
  padding: 6px 10px;
}

.footer{
  margin-top: auto;
  border: 1px solid #f00;
  background-color: #333;
  color: whitesmoke;
  padding: 40px;
}

@media screen and (max-width: 600px) {
  aside:last-child{
    display: none;
  }
}