body{
  margin: 0;
  font-family: "Roboto";
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

div, body, header, nav, ul, footer{
  box-sizing: border-box;
}

.div-wrapper, header, footer{
  width: 100%;
}

.h1,h2,h3,h4{
  text-wrap: balance;
}

p{
  text-wrap: pretty;
}

.header-navbar{
  background-color: rgb(79, 187, 245);
}

.header-navbar ul{
  display: flex;
  padding: 0;
  margin-top: 0;
}

.header-navbar li{
  list-style: none;
  margin: 4px;
}

.header-navbar a{
  color: whitesmoke;
  padding: 6px;
  display: inline-block;
}

nav a{
  text-decoration: none;
}

.div-wrapper{
  max-width: 1024px;
  margin-top: -15px;
}

.div-wrapper{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.div-wrapper aside{
  flex-grow: 1;
}

.left-aside{
  min-width: 10rem;
  text-align: center;
}

.left-aside ul{
  padding: 0;
}

.left-aside li{
  list-style: none;
}

.left-aside a{
  color: rgb(79, 187, 245);
  display: inline-block;
  padding: 6px 10px;
}

.left-aside-navbar a:hover{
  opacity: 0.7;
  background-color: whitesmoke;
}

aside, main{
  padding: 25px 20px;
  /* border: 1px solid #f00; */
  flex-basis: 0;
  background-color: whitesmoke;
}

main{
  min-width: 300px;
  flex-grow: 2.5;
}

aside:last-child{
  min-width: 10rem;
}

.footer{
  margin-top: auto;
  border: 1px solid #f00;
  background-color: #333;
  color: whitesmoke;
  padding: 40px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 800px) {
  aside:last-child{
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .div-wrapper{
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .header-navbar a{
    padding: 1px;
  }
}

